.btn-primary {
    border-color: #00b0ff;
    background-color: #00b0ff;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b0ff;
    border-color: #00b0ff;
}

.btn-outline-primary {
    border-color: #00b0ff;
    color: #00b0ff;

}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open>.dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #00b0ff;
    border-color: #00b0ff;
}

#intro-verb {
    color: #00b0ff;
}

.default-hidden {
    display: none;
}

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

#computer-image {
    padding-top: 7rem;
}

@media (max-width: 800px) {
    #computer-image {
        padding-top: 0;
    }

    .display-4 {
        font-size: 2.625rem;
    }

    .display-3 {
        font-size: 3.375rem;
    }

    .lead {
        font-size: .9375rem;
    }

    #skills {
        height: 1300px !important;
    }

    
  .card-group {
    height: 400px;
    padding-top: 30px !important;
    width: 100%;
}

    .blue-bg {
        height: 30% !important;
    }
    
  .top-20 {
    top: 10% !important;
  
    }

    .card-group {
        width: 85% !important;
        margin: 0 auto;
    }

    
    .toast {
        width: 90% !important;
    }
  
  }

  #skills {
      height: 1000px;
  }

  .blue-bg {
      background-color: #00b0ff;
      height: 50%;
  }

  .top-20 {
      top: 20%;
      position: relative;
    
  }

  .card-group {
      height: 400px;
      padding-top: 100px;
      width: 100%;
  }

  .icon-img {
      font-size: 40px;
      padding-top: 40px;
      color: #00b0ff;
  }

  .card-skill {
      font-weight: bold;
      color: #00b0ff;      
  }


  
@media (max-width: 400px) {

    .card-group {
        padding-top: 30px;
    }

    
}

.toast {
    width: 400px;
    position: fixed; 
    top: 0; 
    right: 0; 
    z-index: 2000; 
    float: right; 
    display:none;
}

.card-group {
    height: 100%;
}


#header {
}

.big {
    font-size: 6rem;
    color: #00b0ff;
    cursor: pointer;
}

.big:hover {
    font-size: 7rem;
}