@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap'); 



.btn-primary {
    border-color: #00b0ff;
    background-color: #00b0ff;

}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b0ff;
    border-color: #00b0ff;
    /*set the color you want here*/
}

.btn-outline-primary {
    border-color: #00b0ff;
    /*set the color you want here*/
    color: #00b0ff;

}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open>.dropdown-toggle.btn-outline-primary {
    color: #fff;
    background-color: #00b0ff;
    border-color: #00b0ff;
    /*set the color you want here*/
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}



html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;    
}

#computers {
    bottom: 0; position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}



  @media screen and (max-width: 880px) {
    #intro-verb::after {
        content: "\A";
        white-space: pre;
      }
  }

.modal-full {
    min-width: 100%;
    margin: 0;
}

.modal-full .modal-content {
    min-height: 100vh;
}

#intro {
    font-size: 50px;
}

#intro-verb {
    font-size: 30px;
    font-weight: 10;
    color: #00b0ff;
    display: block;
}

.bg-blue {
    background-color: #00b0ff;
}

.bg-light {
    background-color: #fff !important;
}


@media screen and (min-width: 1680px) {
   .jumbotron {
       margin-left: 100px;
       margin-right: 100px;
   }
  }

  .hidden {
      display: none;
  }


  @media screen and (max-width: 1680px) {
    #intro {
        font-size: 30px;
    }

    #intro-verb {
        font-size: 20px;
    }

    #intro-description {
        font-size: 15px;
    }

}

@media screen and (min-height: 1200px) and (min-width: 800px) {
    .wrapper {
        min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 50vh;    
    }
    
}

@media screen and (min-height: 1024px) and (min-width: 600px) {
    .wrapper {
        min-height: 60%;  /* Fallback for browsers do NOT support vh unit */
        min-height: 60vh;    
    }
    
}